# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# uv
.uv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python build
build/
dist/
*.egg-info/

# dotenv (секреты)
.env

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/

# logs
*.log

# Render / deployment
.python-version